
.carousel-inner {
    background-image: url('../assets/green-grass.jpeg');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}


.card{
    margin: auto;
    position: relative;
    /* margin-top: 100px;
    margin-bottom: 150px; */
    background-color: rgba(255, 255, 255, 0.4) !important;
    margin-top: 180px;
    color: #ffcc03;
    text-shadow: -1px -1px 0 #2a75bb, 1px -1px 0 #2a75bb, -1px 1px 0 #2a75bb, 1px 1px 0 #2a75bb;
}

.card-body {
    text-align: center;
}

.card-body h5 {
    font-size: 30px;
}

.card-body h6{
    font-size: 20px;
}

.card .index-button {
    background: #000000;
    color: white;
    font-size: 15px;
}

.card .index-button:hover {
    filter: brightness(120%);
    transition: 0.3s;
}

.index-button a {
    text-decoration: none;
    color: #ffcc03;
    text-shadow: -1px -1px 0 #2a75bb, 1px -1px 0 #2a75bb, -1px 1px 0 #2a75bb, 1px 1px 0 #2a75bb;
}